:root{
    --start: unset;
    --stop: unset;

    --Rstart: unset;
    --Rstop: unset;
}


input::-webkit-outer-spin-button, input::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}