.selection_header{
    z-index: 999;
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    height: 100px;   
}

.selection_page{
    width: 100%;
    height: 100%;
}

.selection_header_firstRow{
    position: relative;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 20px 25px 20px 25px;
    width: calc(100% - 50px);
    height: 100%;   
}

.selection_header_secondRow{
    position: relative;

    width: calc(100% - 50px);
}

.main_title_block{
    cursor: pointer;
    display: inline-block;
}

.main_title{
    font-size: 38px;
    font-weight: 500;
    cursor: pointer;
}

.selection_sessionFinished{
    z-index: 998;
    position: relative;

    width: calc(260px);

    gap: 15px;
 
    background-color: #262837;
    padding: 20px 0 45px 0;

    border-radius: 10px;
}

.selection_sessionFinishedBody{
    display: flex;  

    overflow-x: scroll;
    overflow-y: hidden;

    width: 100%;
    height: 100%;

    scroll-snap-type: x mandatory !important;

    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.selection_sessionFinishedBody::-webkit-scrollbar{
    display: none;
}

.selection_sessionFinished_navigator{
    position: absolute;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);

    gap: 5px;
    padding: 5px;

    background-color: rgb(57, 57, 91);
    border-radius: 999px;
}

.selection_sessionFinished_navigator_indicator{
    width: 5px;
    height: 5px;
    background-color: white;
    border-radius: 999px;

    opacity: 0.5;
}

.selection_sessionFinished_navigator_indicator:nth-child(1){
    opacity: 1;
}

.selection_sessionFinished_subPage{
    position: relative;
    
    flex-grow: 0;
    flex-shrink: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    scroll-snap-align: start;

    width: 100%;
    height: 100%;

    gap: 35px;
}

.suggestedChanges{
    gap: 20px;
    justify-content: unset;
    height: unset;
}

.selection_sessionFinished_Title{
    font-size: 23px;
    font-weight: 500;
}

.selection_sessionFinished_suggestedBody{
    display: flex;
    flex-direction: column;

    align-items: center;

    gap: 15px;

    width: calc(100% - 40px);
    max-height: 145px;

    border-radius: 8px;
    overflow-x: hidden;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.selection_sessionFinished_suggestedBody::-webkit-scrollbar{
    display: none;
}

.selection_sessionFinished_suggested_optGroup{
    display: flex;

    flex-direction: column;
    align-items: flex-start;
    gap: 5px;

    width: calc(100% - 30px);
    padding: 15px;

    background-color: #34394C;
    border-radius: 8px;
}

.selection_sessionFinished_suggested_optGroupTitle{
    font-size: 18px;
    font-weight: 500;

    margin-bottom: 5px;
}

.selection_sessionFinished_suggested_optItem{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    gap: 10px;

    cursor: pointer;
}

.selection_sessionFinished_suggested_optText{
    font-size: 15px;
    font-weight: 500;
}

.selection_sessionFinished_suggested_optCheck{
    width: 15px;
    height: 17px;

    cursor: pointer;
}

.selection_sessionFinished_suggestedBtn{
    position: absolute;

    bottom: 5px;

    width: calc(100% - 40px);
    height: 28px;
    
    background-color: #1799d3;
    border-color: transparent;

    font-size: 15px;
    
    border-radius: 7px;
    cursor: pointer;
}


.selection_sessionFinished_textContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    gap: 10px;
}

.selection_sessionFinished_mainText{
    font-size: 25px;
    font-weight: 500;
}

.selection_sessionFinished_subText{
    display: inline-block;
    
    text-wrap: wrap;
    text-align: center;
    overflow: unset;
    
    font-size: 15px;
    width: 90%;
}

.selection_sessionFinished_subTextPart, .failedSubText{
    opacity: 0.8;
}

.finishedInterestName{
    font-weight: 600;
    color: white;
    opacity: 1;
}

.finishedInterest{
    font-weight: 800;
    color: #FDC70E;
    opacity: 1;
}

.chronoInterest{
    font-weight: 800;
    color: #FF5876;
    opacity: 1;
}

.liftInterest{
    font-weight: 800;
    color: #697CED;
    opacity: 1;
}

.selection_sessionFinished_img{
    width: 100px;
    margin-top: 30px;
}

.selection_empty_msg{
    z-index: 1;
    position: absolute;

    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    
    color: rgba(255,255,255,0.15);
    font-size: 35px;
    font-weight: 500;
    
    cursor: pointer;
    display: none;
}

.selection_dayPreview_page{
    position: relative;

    display: flex;
    flex-direction: column;

    width: 80%;
    max-width: 550px;

    min-height: 120px;

    font-size: 21px;
    font-weight: 700;
    text-align: left;
    background-color: #262837;

    border-radius: 8px;
    display: none;
}

.selection_dayPreview_header{
    position: relative;

    height: 105px;
    width: 100%;

    border-radius: 8px;

    overflow-y: hidden;
    overflow-x: scroll;

    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.selection_dayPreview_date{
    position: fixed;

    margin-left: 20px;
    margin-top: 15px;

    font-size: 26px;
    font-weight: 700;
    color: white;
}

.selection_dayPreview_header::-webkit-scrollbar{
    display: none;
}

.selection_dayPreview_mainLine{
    position: absolute;
    
    top: 90px;
    left: 20px;

    width: 3600px;
    height: 4px;

    background-color: white;
}

.selection_dayPreview_circleContainer{
    position: absolute;
    
    display: flex;
    flex-direction: column;

    height: 45px;
    
    justify-content: flex-end;
    align-items: flex-start;

    gap: 10px;
    top: -36px;
}

.selection_dayPreview_time{
    font-size: 18px;
    overflow: hidden;
}

.selection_dayPreview_circle{
    width: 14px;
    height: 14px;
    border-radius: 999px;
    background-color: white;
}

.selection_dayPreview_body{
    width: 100%;

    overflow: scroll;

    min-height: 70px;
    max-height: 120px;

    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */   
}

.selection_dayPreview_body::-webkit-scrollbar{
    display: none;
}

.selection_dayPreview_header, .selection_dayPreview_body{
    overscroll-behavior: none;
    -webkit-overflow-scrolling: touch;
}

.selection_dayPreview_noSession{
    position: absolute;

    left: 50%;
    top: 50%;

    transform: translate(-50%, 140%);
    color: rgba(255, 255, 255, .2);
    
    font-size: 22px;
    font-weight: 600;
}

.selection_dayPreview_seekingArrowLeft{
    width: 15px;
    height: 15px;

    transform: rotate(90deg);
    filter: invert(1) brightness(2);

    margin-left: -2px;
}

.selection_dayPreview_seekingArrowRight{
    width: 15px;
    height: 15px;

    filter: invert(1) brightness(2);
    transform: rotate(-90deg);

    margin-left: 2px;
}

.selection_dayPreview_seekingArrowContainer{
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 15px;
    height: 15px;
    
    top: 50%;

    transform: translateY(100%);

    padding: 8px;
    cursor: pointer;

    background-color: rgb(76, 83, 104);
    border-radius: 999px;
}

.selection_dayPreview_seekingArrowContainerLeft{
    left: 10px;
}

.selection_dayPreview_seekingArrowContainerRight{
    right: 10px;
}

.selection_dayPreview_seekNb{
    position: absolute;

    display: flex;
    align-items: center;
    justify-content: center;    

    width: 12px;
    height: 12px;

    bottom: -5px;
    
    padding: 2px;
    
    background-color: #E74C3C;
    color: white;

    font-size: 11px;
    font-weight: 700;

    border-radius: 999px;
}

.seekNbR{
    right: -5px;
}

.seekNbL{
    left: -5px;
}

.selection_dayPreview_itemContainer{
    position: relative;

    left: 20px;

    width: 3600px;
    min-height: 70px;
}

.selection_dayPreview_focus{
    position: absolute;

    display: flex;
    flex-direction: column;

    height: 170px;

    left: 50%;

    transform: translateX(-50%);
    display: none;
}

.selection_dayPreview_focusHeader{
    display: flex;
    flex-direction: row;

    gap: 30px;
    justify-content: space-between;
    align-items: center;

    min-width: 120px;
    height: 35px;
    
    padding: 12px 20px;

    background-color: #484C66;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.selection_dayPreview_focusHeader_leftBlock{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 8px;
}

.selection_dayPreview_focusSubTitle{
    font-size: 18px;
    font-weight: 500;
    opacity: .7;
}

.selection_dayPreview_focusHeader_rightBlock{
    display: flex;
    flex-direction: row;
    gap: 5px;

    align-items: center;

    font-size: 18px;
    font-weight: 500;
}

.selection_dayPreview_focusTimeArrow{
    filter: invert(1) brightness(2);
    width: 15px;
    height: 15px;
}

.selection_dayPreview_focusBody{
    width: 100%;
    height: calc(100%);
    background-color: #303344;

    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.selection_dayPreview_focusTitle{
    max-width: 100px;
    font-weight: 700;
    font-size: 20px;
}

.selection_dayPreview_focusBody_wrapper{
    display: flex;
    flex-direction: column;

    width: 100%;
    height: calc(100% - 40px);

    padding: 20px 0;

    gap: 20px;
    align-items: center;
}

.selection_dayPreview_focusBody_wrapperFirstRow{
    display: flex;
    flex-direction: row;
    gap: 5px;

    width: 87%;
    
    justify-content: space-between;
    align-items: center;
}

.selection_dayPreview_focusToChange{
    text-align: center;
    line-height: 30px;
    
    background-color: #484C66;
    width: calc(32% - 20px);
    height: 30px;

    padding: 0 10px;

    font-size: 17px;
    font-weight: 500;

    border-radius: 8px;
}

.selection_dayPreview_focusforChange{
    display: flex;
    
    justify-content: center;
    align-content: center;

    text-align: center;
    text-align-last: center;
    
    background-color: #484C66;
    width: 100%;
    height: 30px;

    padding: 0 10px;

    font-size: 17px;
    font-weight: 500;

    border-radius: 8px;
    border: none;

    cursor: pointer;
}

.selection_dayPreview_focusExchangeBtn{
    text-align: center;
    line-height: 30px;

    background-color: #1799d3;
    width: 87%;
    height: 30px;

    font-size: 18px;
    font-weight: 500;

    border-radius: 8px;
    cursor: pointer;
}

.selection_dayPreview_focusExchangeBtn:active{
    background-color: hsl(199, 80%, 55%);
}

.selection_dayPreview_item{
    position: absolute;
    
    display: flex;
    align-items: center;

    flex-grow: 0;
    flex-shrink: 0;

    padding: 0 8px;
    
    max-width: 60px;
    height: 30px;

    font-size: 16px;
    font-weight: 500;

    border-radius: 5px;

    overflow: scroll;
    cursor: pointer;
}

.selection_dayPreview_dashedLine{
    position: absolute;
    border-bottom: 3px dashed white;

    height: 4px;

    top: -30px;

    transform-origin: left;
    transform: rotate(90deg);
}

.selection_recovery_page, .selection_deleteHistoryConfirm_page{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    gap: 20px;

    width: calc(70% - 50px);
    max-width: 350px;

    padding: 20px 25px;

    font-size: 21px;
    font-weight: 700;
    text-align: left;
    background-color: #262837;

    border-radius: 8px;
    display: none;
}

.selection_recovery_masterSpann, .selection_deleteHistoryConfirm_masterSpann{
    display: inline;
    white-space: normal;
    word-break: break-word;
}

.selection_recovery_subText, .selection_deleteHistoryConfirm_subText{
    display: inline;
    font-size: 19px;
    font-weight: 500;

    opacity: .6;

    white-space: normal;
    word-break: inherit;
    text-align: left;
}

.selection_recovery_subText1, .selection_deleteHistoryConfirm_subText3{
    opacity: 1;

    font-size: 19px;
    font-weight: 500;
}

.selection_recovery_subText3 , .selection_deleteHistoryConfirm_subText4, .selection_deleteHistoryConfirm_subText5{
    display: inline;
    white-space: nowrap;
}

.selection_recovery_btnContainer, .selection_deleteHistoryConfirm_btnContainer{    
    display: flex;
    flex-direction: row;
    gap: 15px;

    align-self: flex-end;
    margin-top: 10px;
}

.selection_recovery_btn, .selection_deleteHistoryConfirm_btn{
    width: 85px;
    height: 35px;

    font-size: 15px;
    font-weight: 700;

    line-height: 20px;
    text-align: center;
    
    border-radius: 5px; 
    border: none;

    cursor: pointer;
}

.selection_recovery_btn_y, .selection_deleteHistoryConfirm_btn_n{
    background-color: #FFFFFF;
    color: black;
}

.selection_recovery_btn_n, .selection_deleteHistoryConfirm_btn_y{
    background-color: hsl(240, 21%, 35%);
}

.selection_SR_container{
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;

    width: 90vw;
    max-width: 900px;

    height: calc(100dvh - 155px);

    left: 50%;
    transform: translateX(-50%);

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    overflow-x: hidden;
    overflow-y: scroll;

    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.selection_SR_container::-webkit-scrollbar{
    display: none;
}

.selection_SR_child{
    flex-grow: 0;
    flex-shrink: 0;
    
    position: relative;

    display: flex;
    flex-direction: column;
    gap: 20px;

    padding-bottom: 48px;
    
    width: 90vw;
    max-width: 900px;
    
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.selection_SR_child:last-child{
    padding-bottom: 0px
}

.selection_SR_separator{
    flex-grow: 0;
    flex-shrink: 0;

    position: relative;
    height: 6px;
    width: 40px;

    margin-top: -48px;

    opacity: 0.125;
    background-color: white;
    border-radius: 999px;

    display: none;
}

.selection_reminder_container{
    display: none;
}

.selection_session_tile{
    position: relative;

    flex-grow: 0;
    flex-shrink: 0;

    background-color: #262837;

    width: 90vw;
    max-width: 900px;   
    height: 125px;

    border-radius: 10px;
    z-index: 0;

    overflow: hidden;
}

.selection_reminder_tile{
    position: relative;

    flex-grow: 0;
    flex-shrink: 0;

    background-color: #262837;

    width: 90vw;
    max-width: 900px;   
    height: 125px;

    border-radius: 10px;
    z-index: 0;

    overflow: hidden;
}

.selection_session_name{
    z-index: 0;
    position: absolute;

    top: 12px;
    left: 20px;

    font-size: 26px;
    font-weight: 500;
}

.selection_reminder_name{
    z-index: 0;
    position: absolute;

    top: 50%;
    left: 40px;

    transform: translateY(-50%);

    font-size: 26px;
    font-weight: 500;
}

.selection_session_details{
    z-index: 0;
    position: relative;

    margin-right: 8px;
    
    color: #51535f;
    font-size: 24px;
    font-weight: 500;
}

.selection_session_details_container{
    position: absolute;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 8px;
    
    left: 20px;
    bottom: 14px;
}

.selection_session_totaltime{
    margin-right: 15px;

    color: #FFFFFF;
} 


.selection_session_tile_hider{
    z-index: 0;
    position: absolute;

    width: 245px;
    height: 125px;

    bottom: 0;
    right: 0;

    background-color: #262837;
    
    border-radius: 10px;
}

.selection_session_tile_extra_container{
    position: absolute;

    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 5px;

    right: -230px;
    top: 50%;

    padding-left: 10px;

    background-color: #2B2D3D;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;

    transform: translateY(-50%);

    cursor: pointer;
}

.selection_session_tile_grabber{
    flex-grow: 0;
    flex-shrink: 0;
    
    width: 5px;
    height: 28px;
    
    background-color: #64666D;
    border-radius: 50px;

    cursor: pointer;
}

.selection_session_tile_extra{
    position: relative;

    display: flex;
    flex-direction: column;
    
    gap: 10px;
    padding: 10px;
    
    height: 105px;
    width: 215px;
    
    background-color: #2B2D3D;
    border-radius: 10px;
    overflow-y: auto;

    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.selection_session_tile_extra::-webkit-scrollbar{
    display: none;
}

.selection_session_tile_schedule_container{
    position: absolute;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    height: 105px;
    width: 215px;

    background-color: #2B2D3D;

    display: none;
}

.selection_session_tile_schedule_icon{
    width: 15px;
    height: auto;
}

.selection_session_tile_extra_delete_icon{
    width: 17px;
    height: auto;

    margin-left: 1px;

    transform: rotate(45deg);
}

.selection_session_tile_extra_confirm_icon{
    width: 19px;
    height: auto;
    
    margin-left: 1px;
}

.selection_session_tile_schedule{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: center;
    align-items: center;

    gap: 10px;

    font-size: 20px;
    font-weight: 500;

    scale: 1.1;
}

.selection_session_tile_schedule_inp{
    width: 35px;
    height: 28px;

    background-color: #363949;
    color: white;
    font-size: 16px;
    font-weight: 500;


    text-align: center;

    outline: none;
    border: none;
    border-radius: 7px;
}

.selection_session_tile_schedule_select{
    width: 49px;
    height: 28px;

    background-color: #363949;
    color: white;
    font-size: 16px;
    font-weight: 500;

    text-align: center;

    outline: none;
    border: none;
    border-radius: 7px;
}

.selection_session_tile_extra_element{
    display: flex;
    justify-content: center;
    align-items: center;

    flex-shrink: 0;
    flex-grow: 0;

    width: 115px;
    height: 45%;

    font-size: 18px;
    font-weight: 500;
    background-color: #363949;
    
    border-radius: 8px;

    cursor: pointer;
}

.selection_session_tile_extra_element:active{
    background-color: #44475c;
}

.selection_reminder_btn{
    flex-grow: 0;
    flex-shrink: 0;
    height: 44px;
}

.selection_unarchived_btn{
    flex-grow: 0;
    flex-shrink: 0;
    height: 44px;
}

.selection_session_button_container{
    position: absolute;
    display: flex;
    flex-direction: row;    
    flex-wrap: nowrap;
    gap: 25px;
    
    top: 50%;   
    right: 45px;
    transform: translateY(-50%);
}

.selection_round_btn{
    display: flex;
    justify-content: center;
    align-items: center;

    flex-shrink: 0;
    flex-grow: 0;

    height: 44px;
    width: 44px;

    border: none;
    border-radius: 50px;
    cursor: pointer !important;
}   

.selection_session_tile_extra_btn_container{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-left: 5px;
    display: none;
}

.selection_session_tile_extra_btn{
    display: none;
}

.selection_session_tile_extra_confirm{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 35px;
    height: 35px;

    background-color: #1DBC60;
}

.selection_session_tile_extra_delete{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 35px;
    height: 35px;

    background-color: #E74C3C;
}

.selection_play_btn{
    flex-shrink: 0;
    flex-grow: 0;
    background-color: #1DBC60;
}

.selection_play_btn:active{
    background-color: #70da9c;
}

.selection_edit_btn{
    flex-shrink: 0;
    flex-grow: 0;
    background-color: #1799d3;
}

.selection_edit_btn:active{
    background-color: #66b6dc;    
}

.selection_bin_btn{
    flex-shrink: 0;
    flex-grow: 0;
    background-color: #E74C3C; 
}

.selection_bin_btn:active{
    background-color: #ec7d70;
}

.selection_icon_btn{
    width: 18px;
    height: auto;
}

.selection_icon_fix_btn{
    width: 15px;
    height: auto;

    margin-left: 3px;
}

.selection_add_btn{
    position: absolute;

    height: 50px;
    width: 50px;

    right: 22px;
    bottom: 17px;

    background-color: #51535f;
}

.selection_add_container{
    position: absolute; 
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    justify-content: space-between;

    height: calc(120px - 30px);
    width: calc(165px - 26px);

    padding: 15px 13px;

    right: 22px;
    bottom: 80px;

    border-radius: 12px;

    background-color: #51535f;
    display: none;
}

.selection_add_option{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 43%;
    width: 100%;

    font-size: 19px;
    font-weight: 700;

    border-radius: 8px;
    background-color: #6f6f79;

    cursor: pointer;
}

.selection_add_option:active{
    background-color: #7b7b86;
}

.selection_add_icon_btn{
    width: 21px;
    height: auto;
}

.selection_add_btn:active{
    background-color: #60636d;
}

.selection_icon_play_pause{
    position: absolute;

    width: 15px;
    height: auto;
}

.selection_icon_play_pause_fix{
    width: 16px;
    height: auto;

    margin-left: 3px;
}

.selection_context_menu{
    position: absolute;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;

    width: 100px;
    height: auto;

    padding: 3px 10px 3px 10px;

    background-color: #303246;
    border-radius: 10px;
}

.selection_context_menu_opt{
    padding: 8px;

    font-size: 18px;
    font-weight: 400;

    border-bottom: solid 1px rgba(255,255,255,0.1);
    cursor: pointer;
}

.selection_context_menu_opt:last-child{
    border-bottom: unset;
}

.weightTracker, .historyGraph{
    position: relative;

    display: flex;
    flex-direction: column;

    width: 87vw;
    max-width: 446px;

    height: 45dvh;

    transform: translateY(-10%);
    border-radius: 12px;
}

.weightTracker_upperPart, .historyGraph_upperPart{
    position: relative;
    
    display: flex;
    flex-direction: column;
    align-items: center;

    width: calc(100% - 40px);

    background-color: #262837;
    border-radius: 12px 12px 0 0;

    padding: 20px;
}

#weightTrackerCanva, #historyGraphCanva{
    position: relative;
    background-color: #262837;
    width: calc(100% + 40px);
    height: 185px;
}

.weightTracker_noData, .historyGraph_noData{
    position: absolute;

    width: 95%;              /* or any percentage depending on the container */
    text-align: center;
    word-break: break-word;  /* ensure long words break */
    white-space: normal;

    left: 50%;
    top: 60%;

    transform: translate(-50%, -50%);
    
    color: rgba(255,255,255,0.15);
    font-size: 33px;
    font-weight: 500;
}

.weightTracker_lowerPart, .historyGraph_lowerPart{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;

    width: calc(100% - 40px);

    background-color: #34394C;
    border-radius: 0 0 12px 12px;

    padding: 20px;
}

.weightTrackerFirstRow, .historyGraphFirstRow{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    margin-bottom: 5px;
}

.weightTracker_headerText, .historyGraph_headerText{
    font-size: 22px;
    font-weight: 700;
}

.weightTrackerFirstRow_right, .historyGraphFirstRow_right{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.weightTracker_growthRate_container, .historyGraph_growthRate_container{
    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 4px;
}

.weightTracker_growthRate_indicator, .historyGraph_growthRate_indicator{
    width: 15px;
    height: 6px;

    background: #1DBC60;
    clip-path: polygon(50% 0%, 100% 100%, 0% 100%);

    transform-origin: 50% 50%;
    transition: transform .25s ease;
}

.weightTracker_growthRate_indicator.is-down, .historyGraph_growthRate_indicator.is-down{
  transform:rotate(180deg);
}

.weightTracker_growthRate, .historyGraph_growthRate{
    font-size: 17px;
    font-weight: 500;
    color: #1DBC60;
}

.weightTracker_currentWeight, .historyGraph_lastValue{
    font-size: 18px;
    background-color: #00bfff;

    padding: 5px 7px;
    border-radius: 8px;
}

.weightTracker_question{
    font-size: 19px;
    align-self: flex-start;
}

.weightTracker_inputContainer{
    position: relative;
    width: 100%;
}

.weightTracker_input{
    height: 35px;
    width: calc(100% - 40px);

    padding: 0 30px 0 10px;   /* 0 en haut / bas, 30 px à droite, 10 px à gauche */
    background-color: #4C5368;

    font-size: 18px;
    font-weight: 400;
    text-align: center;

    /* centre vertical : même valeur que height */
    line-height: 35px;

    border-radius: 8px;
    outline: none;
    border: none;
    overflow: hidden;
}

.historyGraph_exoSelect, .historyGraph_modeSelect, .historyGraph_subExoSelect{
    display: flex;
    
    justify-content: center;
    align-content: center;

    text-align: center;
    text-align-last: center;
    background-color: #4c5368;
    
    width: 100%;
    height: 40px;

    padding: 0 10px;

    font-size: 19px;
    font-weight: 500;

    border-radius: 8px;
    border: none;

    cursor: pointer;
}

.historyGraph_modeSelect{
    height: 29px;
    font-size: 17px;
}

.historyGraph_subExoSelect{
    height: 29px;
    font-size: 17px;

    display: none;
}

.weightTracker_unit{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);

    font-weight: 700;

    opacity: .6;
}

.weightTracker_submitButton{
    position: relative;

    width: 100%;
    height: 30px;

    background-color: #1799d3;
    font-size: 17px;
    
    line-height: 30px;

    border-color: transparent;
    border-radius: 7px;
    cursor: pointer;
}

.weightTracker_submitButton:active{
    background-color: hsl(199, 80%, 55%);
}